.text-white {
  color: white;
}

.icon {
  font-size: 27px;
}

.image-organisasi {
  width: 120px;
  height: 250px;
}

.image-hmi {
  width: 270px;
  height: 250px;
}

.image-bem {
  width: 210px;
  height: 250px;
}

.image-kpu {
  width: 230px;
  height: 250px;
}

.image-sd {
  width: 270px;
  height: 230px;
}

.image-smp {
  width: 205px;
  height: 230px;
}

.image-amazon {
  width: 250px;
  height: 70px;
}

.image-oia {
  width: 230px;
  height: 70px;
}

.image-pilot {
  width: 230px;
  height: 90px;
}
