.text-white {
  color: white;
}

.icon {
  font-size: 27px;
}

.image-organisasi {
  width: 90px;
  height: 180px;
}

.image-hmi {
  width: 80px;
  height: 185px;
}

.image-bem {
  width: 150px;
  height: 180px;
}

.image-kpu {
  width: 155px;
  height: 180px;
}

.image-sd {
  width: 230px;
  height: 180px;
}

.image-smp {
  width: 170px;
  height: 180px;
}

.image-amazon {
  width: 250px;
  height: 70px;
}

.image-oia {
  width: 230px;
  height: 70px;
}

.image-pilot {
  width: 230px;
  height: 90px;
}
