.text-white {
  color: white;
}

.icon {
  font-size: 27px;
}

.image-organisasi {
  width: 120px;
  height: 250px;
}

.image-hmi {
  width: 270px;
  height: 250px;
}

.image-bem {
  width: 210px;
  height: 250px;
}
